/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* =============================================================
                           BASE STYLES
          ----- including HEADER & FOOTER SECTIONS -----
           ----- MOBILE STYLING w/min-width 360px -----
    ============================================================ */

html {
    font-size: 16px;
}

body {
    background-color: #202322;
    color: #e2e3ed;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    font-weight: 300;

}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 2.3em;
    line-height: 1.1em;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    color: #ffffff;
    font-size: 1.1em;
}

a {
    color: #e2e3ed;
    text-decoration: none;
}

a:hover {
    color: #91c59b;
}

address {
    color: #e1e2ea;
    font-style: normal;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

.content-wrapper {
    margin: 50px 0;
    width: 90%;
}



/* ===================================================
            HEADER SECTION w/NAVIGATION MENU
   =================================================== */

header, footer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header {
    padding: 15px 0;
    width: 100%;
}

header .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}

.logo {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 61%;
}

.header-divider {
    background-color: #3a3a3a;
    height: 1px;
    margin: 10px 0 20px 0;
    width: 100%;
}



/* ================================
         Navigation Menu
   ================================ */

nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 20px;
    width: 44%;
}

nav ul li {
    font-size: 1.1em;
    font-weight: 700;
    margin-right: 60px;
    text-transform: uppercase;
}



/* ===================================================
                  FOOTER SECTION
   =================================================== */

footer {
    width: 100%;
}

footer p {
    margin: 0;
}

footer .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

footer .contact {
    margin-bottom: 50px;
    padding: 0 20px;
}

footer address {
    color: #ffffff;
}


/* Social Media Icons/Links */

.social-icons {
    align-items: center;
    display: flex;
    justify-content: center;
}

.social-icons p {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 15px 30px 15px;
}

/* Copyright */

.copyright {
    color: #ffffff;
    margin: 20px 0;
}



/* ==============================================================
                 MAIN SECTION for EACH WEBPAGE
   ============================================================== */

/* ==================================================
      ---------- HOMEPAGE - for MOBILE ----------
   ================================================== */

/* Hero-Area Section */

.hero-area {
    align-items: center;
    background: url('../img/jake-melara-30679-unsplash@2x.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 500px;
}

.hero-area h1 {
    margin-top: -205px;
}



/* ===== ASIDE SECTION ===== */

/* Newsletter Signup Form */
aside {
    align-items: center;
    background-color: #527158;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

aside .content-wrapper {
    margin-top: 10px;
}

aside p {
    line-height: 1.3em;
}

/* Newsletter Form Description */
.form-description {
    padding-bottom: 5px;
}

/* Email Signup Form */
.newsletter-signup {
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* Newsletter Form Email Address Input Field */
input[type=email] {
    background-color: #e1e2ea;
    border: none;
    box-sizing: border-box;
    color: #2a423a;
    font-style: italic;
    padding: 1.3em;
    width: 100%;
}


/* Newsletter Form Submit Button */
input[type=button] {
    background-color: #2a423a;
    border: none;
    color: #e2e3ed;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 20px;
    padding: 20px 0;
    text-transform: uppercase;
    transition-duration: .5s;
    width: 100%;
}

input[type=button]:hover {
    background-color: #003333;
    cursor: pointer;
}



/* ===== FEATURES SECTION ===== */

/* Unplugged Retreat Amenities */
.features {
    background: url('../img/rawpixel-800820-unsplash@2x.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.features .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.features .content-wrapper h2 {
    width: 89%;
}

.features-items {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.features-items article {
    text-align: center;
    width: 65%;
}

.features-items img {
    width: 44%;
}

.features p {
    margin: 0;
}

.fontawesome-icon {
    padding: 50px 0 30px 0;
}

.features-item-description {
    color: #e1e2ea;
    line-height: 1.3em;
}


/* ===== REVIEWS SECTION ===== */

/* Previous Guest Reviews */
.reviews {
    background-color: #2a423a;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.reviews h2 {
    margin-bottom: 30px;
    width: 89%;
}

.reviews article p {
    line-height: 1.3em;
}



/* ==================================================
                  FAQ - Index Page
   ================================================== */

.faq {
    align-items: center;
    background-color: #527158;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.faq .content-wrapper {
    margin: 25px 0;
    width: 83%;
}

.faq-content {
    margin-bottom: 25px;
}

.faq-content h3 {
    line-height: 1.3em;
    margin-bottom: -6px;
}

.faq-content p {
    line-height: 1.3em;
}



/* =================================================
                 ABOUT - Index Page
   ================================================= */

.mission {
    align-items: center;
    background-color: #527158;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contact-section {
    align-items: center;
    background-color: #2a423a;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mission h2, .contact-section h2 {
    margin-top: -10px;
    width: 90%;
}

.mission-content p {
    line-height: 1.3em;
}

.general-info h3, .chat-contact h3 {
    color: #ffffff;
}

.contact-section address {
    margin-top: -10px;
}

.contact-section address p {
    margin: 0;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ===========================================================
    ---------- TABLET STYLING w/min-width of 768px ----------
   =========================================================== */

/* Style adjustments for viewports that meet the condition */
@media only screen and (min-width: 768px) {

/* ========================================
      ----- HOMEPAGE - for TABLET -----
   ======================================== */

    .content-wrapper {
        margin: 100px 0;
        width: 83%;
    }


    /* ----- HEADER & NAVICATION ----- */

    header .content-wrapper {
        justify-content: space-between;
    }

    .logo {
        justify-content: space-between;
        width: 29%;
    }

    .header-divider {
        display: none;
    }

    nav ul {
        justify-content: space-between;
        margin-left: 120px;
        width: 17%;
    }


    /* ----- FOOTER ----- */

    footer .content-wrapper {
        margin: 50px 0;
        width: 100%;
    }

    .footer-content {
        align-items: flex-start;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 68%;
    }

    footer .contact {
        padding-bottom: 20px;
    }

    footer h4 {
        font-size: 1.5em;
    }

    footer p {
        line-height: 1.5em;
    }


    /* ----- HERO-AREA ----- */

    .hero-area h1 {
        font-size: 3em;
        width: 83%;
    }


    /* ----- ASIDE ----- */

    aside .content-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 20px 0 50px 0;
        width: 83%;
    }

    aside h3 {
        font-size: 1.5em;
    }

    .form-description {
        width: 38%;
        margin: 0;
    }

    .form {
        width: 45%;
    }

    input[type=button] {
        font-size: 1.3em;
    }


    /* ----- FEATURES ----- */

    .features .content-wrapper h2 {
        font-size: 2.3em;
        width: 91%;
    }

    .features-items article {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 50%;
        justify-content: center;
    }

    .features p {
        width: 66%;
    }

    .features-item-description {
        align-items: baseline;
        justify-content: center;
        min-height: 100px;
    }


    /* ----- REVIEWS ----- */

    .reviews .content-wrapper {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .reviews h2 {
        font-size: 2.3em;
        width: 75%;
    }

    .reviews h3 {
        font-size: 1.5em;
        margin-top: -15px;
    }

    .reviews .guest-grp-img {
        margin-top: -5px;
        width: 49%;
    }

    .reviews article {
        flex-basis: 49%;
    }

    .reviews article p {
        line-height: 1.3em;
        margin-top: -15px;
    }


    /* =====================================
        ----- FAQ PAGE - for TABLET -----
       ===================================== */

    /* ----- FAQ SECTION GRID ----- */
    .faq .content-wrapper {
        display: grid;
        column-gap: 55px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        margin: 50px 0;
        width: 83%;
    }

    .faq-header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #faq-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
    }

    #faq-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #faq-3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #faq-4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .faq h2 {
        font-size: 2.3em;
    }

    .faq-content h3 {
        font-size: 1.3em;
    }


    /* ====================================
       ----- ABOUT PAGE - for TABLET -----
       ==================================== */

    /* ----- MISSION STATEMENT SECTION ----- */
    .mission-content {
        align-items: baseline;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .mission .content-wrapper h2 {
        font-size: 2.3em;
    }

    .mission-content p {
        line-height: 1.3em;
        width: 47%;
    }

    /* ----- CONTACT INFORMATION SECTION ----- */
    .contact-section .contact-info {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
    }

    .general-info, .chat-contact {
        width: 44%;
    }

    .contact-section .content-wrapper h2 {
        font-size: 2.3em;
        width: 79%;
    }

    .general-info h3, .chat-contact h3 {
        font-size: 1.5em;
    }

    .contact-info addrees p {
        line-height: 1.3em;
    }



/* ===========================================================
   ---------- DESKTOP STYLING w/min-width of 1200px ----------
   =========================================================== */

@media only screen and (min-width: 1200px) {

    /* =====================================
        ----- HOMEPAGE - for DESKTOP -----
       ===================================== */

    .content-wrapper {
        margin: 50px 0;
        width: 80%;
    }


    /* ----- HEADER & NAVIGATION ----- */

    .logo {
        width: 24%;
    }

    nav ul {
        margin-left: 304px;
        width: 11%;
    }


    /* ----- FOOTER ----- */

    footer .content-wrapper {
        margin: 50px 0;
    }

    footer .contact {
        padding-bottom: 10px;
    }

    footer h4 {
        font-size: 1.9em;
    }

    footer p {
        font-size: 1.1em;
        line-height: 1.5em;
    }

    footer .copyright {
        font-size: 1.1em;
        margin-top: 50px;
    }

    /* ----- HERO-AREA ----- */

    .hero-area h1 {
        font-size: 3.8em;
        width: 80%;
    }

    /* ----- ASIDE ----- */

    aside .content-wrapper {
        margin: 10px 0 40px 0;
        width: 67%;
    }

    aside h3 {
        font-size: 1.9em;
    }

    aside p {
        font-size: 1.1em;
        line-height: 1.5em;
        margin-top: -20px;
    }

    .newsletter-signup {
        margin-top: -15px;
    }

    .form-description, .form {
        width: 38%;
    }

    input[type=email] {
        font-size: 1.1em;
    }

    input[type=button] {
        font-size: 1.5em;
    }

    /* ----- FEATURES ----- */

    .features .content-wrapper {
        margin: 50px 0;
        width: 80%;
    }

    .features .content-wrapper h2 {
        font-size: 2.3em;
        margin-bottom: 30px;
        width: 90%;
    }

    .features-items article {
        flex-basis: 33%;
        margin-bottom: 0;
    }

    .features p {
        width: 56%;
    }

    .features-item-description {
        font-size: 1.1em;
    }

    /* ----- REVIEWS ----- */

    .reviews .content-wrapper {
        margin: 100px 0;
    }

    .reviews .guest-grp-img {
        margin-top: 35px;
    }

    .reviews h3 {
        font-size: 1.9em;
        margin-top: 25px;
    }

    .reviews p {
        font-size: 1.1em;
        line-height: 1.5em;
    }




    /* =====================================
        ----- FAQ PAGE - for DESKTOP -----
       ===================================== */

    /* ----- FAQ SECTION ----- */
    .faq .content-wrapper {
        column-gap: 85px;
        width: 80%;
    }

    .faq h2 {
        font-size: 3em;
    }

    .faq-content h3 {
        font-size: 1.1em;
        line-height: 1.3em;
    }

    .faq-content p {
        font-size: 1.1em;
        line-height: 1.3em;
    }


    /* ====================================
       ----- ABOUT PAGE - for DESKTOP -----
       ==================================== */

    /* ----- MISSION STATEMENT SECTION ----- */
    .mission .content-wrapper h2 {
        font-size: 3em;
    }

    .mission-content p {
        font-size: 1.1em;
        line-height: 1.5em;
    }

    /* ----- CONTACT INFORMATION SECTION ----- */
    .contact-section .content-wrapper h2 {
        font-size: 3em;
        margin-bottom: 0;
    }

    .general-info h3, .chat-contact h3 {
        font-size: 1.9em;
    }

    .contact-section address p {
        font-size: 1.1em;
    }
}



@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
